<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ZCRM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>filter</display-name>
    <filter-name>filter</filter-name>
    <filter-class>com.zhiyou.filter.filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerPageServlet</display-name>
    <servlet-name>ManagerPageServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.UserManagerPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerPageServlet</servlet-name>
    <url-pattern>/ManagerPageServlet</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/update</url-pattern>
    <url-pattern>/add</url-pattern>
    <url-pattern>/alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleManagePageServlet</display-name>
    <servlet-name>RoleManagePageServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.RoleManagePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleManagePageServlet</servlet-name>
    <url-pattern>/RoleManagePageServlet</url-pattern>
    <url-pattern>/RoleAdd</url-pattern>
    <url-pattern>/RoleDelete</url-pattern>
    <url-pattern>/RoleUpdate</url-pattern>
    <url-pattern>/RoleAlter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
    <url-pattern>/DepartmentAdd</url-pattern>
    <url-pattern>/DepartmentDelete</url-pattern>
    <url-pattern>/DepartmentUpdate</url-pattern>
    <url-pattern>/DepartmentAlter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
    <url-pattern>/NoticeDelete</url-pattern>
    <url-pattern>/NoticeAdd</url-pattern>
    <url-pattern>/NoticeAlter</url-pattern>
    <url-pattern>/NoticeUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
    <url-pattern>/MessageAdd</url-pattern>
    <url-pattern>/MessageUpdate</url-pattern>
    <url-pattern>/MessageAlter</url-pattern>
    <url-pattern>/MessageDelete</url-pattern>
    <url-pattern>/MessageCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
    <url-pattern>/CustomerAdd</url-pattern>
    <url-pattern>/CustomerGuanLi</url-pattern>
    <url-pattern>/CustomerUpdate</url-pattern>
    <url-pattern>/CustomerAlter</url-pattern>
    <url-pattern>/CustomerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_CareServlet</display-name>
    <servlet-name>Customer_CareServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.Customer_CareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_CareServlet</servlet-name>
    <url-pattern>/Customer_CareServlet</url-pattern>
    <url-pattern>/Customer_CareAdd</url-pattern>
    <url-pattern>/Customer_CareGuanLi</url-pattern>
    <url-pattern>/Customer_CareUpdate</url-pattern>
    <url-pattern>/Customer_CareAlter</url-pattern>
    <url-pattern>/Customer_CareDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_CategoryServlet</display-name>
    <servlet-name>Customer_CategoryServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.Customer_CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_CategoryServlet</servlet-name>
    <url-pattern>/Customer_CategoryServlet</url-pattern>
    <url-pattern>/Customer_CategoryUpdate</url-pattern>
    <url-pattern>/Customer_CategoryAdd</url-pattern>
    <url-pattern>/Customer_CategoryDelete</url-pattern>
    <url-pattern>/Customer_CategoryAlter</url-pattern>
    <url-pattern>/Customer_CategoryGuanLi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_LinkServlet</display-name>
    <servlet-name>Customer_LinkServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.Customer_LinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_LinkServlet</servlet-name>
    <url-pattern>/Customer_LinkServlet</url-pattern>
    <url-pattern>/Customer_LinkUpdate</url-pattern>
    <url-pattern>/Customer_LinkAdd</url-pattern>
    <url-pattern>/Customer_LinkDelete</url-pattern>
    <url-pattern>/Customer_LinkAlter</url-pattern>
    <url-pattern>/Customer_LinkGuanLi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_Link_RecordServlet</display-name>
    <servlet-name>Customer_Link_RecordServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.Customer_Link_RecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Link_RecordServlet</servlet-name>
    <url-pattern>/Customer_Link_RecordServlet</url-pattern>
    <url-pattern>/Customer_Link_RecordUpdate</url-pattern>
    <url-pattern>/Customer_Link_RecordAdd</url-pattern>
    <url-pattern>/Customer_Link_RecordDelete</url-pattern>
    <url-pattern>/Customer_Link_RecordAlter</url-pattern>
    <url-pattern>/Customer_Link_RecordGuanLi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_SourceServlet</display-name>
    <servlet-name>Customer_SourceServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.Customer_SourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_SourceServlet</servlet-name>
    <url-pattern>/Customer_SourceServlet</url-pattern>
    <url-pattern>/Customer_SourceUpdate</url-pattern>
    <url-pattern>/Customer_SourceAdd</url-pattern>
    <url-pattern>/Customer_SourceDelete</url-pattern>
    <url-pattern>/Customer_SourceAlter</url-pattern>
    <url-pattern>/Customer_SourceGuanLi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_StateServlet</display-name>
    <servlet-name>Customer_StateServlet</servlet-name>
    <servlet-class>com.zhiyou.controller.Customer_StateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_StateServlet</servlet-name>
    <url-pattern>/Customer_StateServlet</url-pattern>
    <url-pattern>/Customer_StateUpdate</url-pattern>
    <url-pattern>/Customer_StateAdd</url-pattern>
    <url-pattern>/Customer_StateDelete</url-pattern>
    <url-pattern>/Customer_StateAlter</url-pattern>
    <url-pattern>/Customer_StateGuanLi</url-pattern>
  </servlet-mapping>
</web-app>