<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true">


	<bean id="b11" class="com.zhiyou.B"></bean>
	<bean id="a" class="com.zhiyou.A" ></bean>
		<bean id="c" class="com.zhiyou.C"></bean>
	
</beans>



